<br>
<hr>
<form [formGroup]="form" class="big-box">
  <div class="box">
    <div class="inside">
      <label for="deptairportcode">Airport Code Departure</label>
      <input type="text" formControlName="deptairportcode">

      <label for="departdate">Departure Date</label>
      <input type="date" formControlName="departdate">

      <label for="arrivaldate">Arrival Date</label>
      <input type="date" formControlName="arrival">

      <label for="price">Price</label>
      <input type="number" formControlName="price">
    </div>
  </div>



  <div class="box">
    <div class="inside">
      <label for="flightnumber">Flight Number</label>
      <input type="text" formControlName="flightnumber">

      <label for="arrvairportcode">Airport Code Arrival</label>
      <input type="text" formControlName="arrvairportcode">

      <label for="departtime">Departure Time</label>
      <input type="time" formControlName="departtime">

      <label for="arrivaltime">Arrival Time</label>
      <input type="time" formControlName="arrival-time">

      <label for="flightlate">flight late</label>
      <input type="checkbox" formControlName="flightlate">
    </div>
  </div>
  <button>Add Flight</button>
</form>
