<br>
<hr>
<form [formGroup]="form" class="big-box" (ngSubmit)="addMyFlight()">
  <div class="box">
    <div class="inside">
      <label for="departureAirportCode">Airport Code Departure</label>
      <input type="text" formControlName="departureAirportCode">

      <label for="departureDate">Departure Date</label>
      <input type="date" formControlName="departureDate">

      <label for="arrivalDate">Arrival Date</label>
      <input type="date" formControlName="arrivalDate">

      <label for="price">Price</label>
      <input type="number" formControlName="price">
    </div>
  </div>



  <div class="box">
    <div class="inside">
      <label for="volNumber">Flight Number</label>
      <input type="text" formControlName="volNumber">

      <label for="arrivalAirportCode">Airport Code Arrival</label>
      <input type="text" formControlName="arrivalAirportCode">

      <label for="departureTime">Departure Time</label>
      <input type="time" formControlName="departureTime">

      <label for="arrivalTime">Arrival Time</label>
      <input type="time" formControlName="arrivalTime">

      <label for="late">Flight Late</label>
      <input type="checkbox" formControlName="late">
    </div>
  </div>
  <button type="submit" class="myBTN">Add Flight</button>
</form>
