<div class="outer">
  <div class="inside">
    <h4>Vol Number: #{{volInfo.volNumber}} <span *ngIf="volInfo.late">: Flight behind Schedule</span></h4>
    <h5>Departing From: {{volInfo.departureAirportCode}}</h5>
    <p>Date: {{volInfo.departureDate}} at {{volInfo.departureTime}}</p>


    <h5>Arriving at: {{volInfo.arrivalAirportCode}}</h5>
    <p>Date: {{volInfo.arrivalDate}} at {{volInfo.arrivalTime}}</p>
    <h5 *ngIf="moreClicked" >price: {{volInfo.price | currency}}</h5>
    <button (click)="getId()">More Info</button>
  </div>
</div>
